.card{
    border: 1px solid black;
    height: 155px;
    width: 105px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: white;
    cursor: pointer;
}

.back-card{
    background-image: url("/public/backcard.png");  
    background-size:cover;
}

.suit-icon{
    height: 20px;
    width: 20px;
}

.top-left-icon{
    top: 10px;
    left: 10px;
    position:absolute;
    display:flex;
    width: 70px;
    justify-content: space-between;
}

.bottom-right-icon{
    bottom: 10px;
    right: 10px;
    position:absolute;
}

.number{
    font-weight: bold;
    font-size: 20px;
}

.black-card{
    border: 5px solid black;
    
}

.red-card{
    border: 5px solid red;
}

.selected-card{
    border: 5px solid rgb(37, 45, 166);
    transform: scale(1.05);
    z-index: 99;
}

