.solitaire-app{
    display: flex;
    flex-direction:column;
    background-color: #e5e5f7;
    opacity: 0.8;
    height: 100vh;
    background-image: radial-gradient(white 0.5px, rgba(238, 130, 238, 0.277) 0.5px);
    background-size: 10px 10px;
    width:770px
}

.dealt-cards{
    display: flex;
}

.ace-column{
    border: 1px dashed black;
    height: 155px;
    width: 105px; 
    margin-right: 5px;
}

.top-box{
    display:flex;
    justify-content: space-between;
    margin-bottom: 50px;    
}

.aces-box{
    display:flex;
    
}

.deck-box{
    display:flex;
}

.column{
    width: 110px;
    position:relative;   

}

.empty-col{
    border: 1px dashed black;
    height: 155px;
}

.card-placeholder{
    height: 155px;
    width: 105px; 
    background-image: url('/public/backcard.png');
    background-size: cover;
    cursor: pointer;
}

.restart-btn{
  background: linear-gradient(to bottom right, #ce96d7, #FF9A5A);
  width: 130px;
  height: 40px;
  margin-bottom: 10px;
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  align-self:flex-end
}

.moves{
    font-weight: bold;
}

.start{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.start-game{
    height: 100px;
    width: 200px;
}

.game-controls{
    justify-content: space-between;
    display: flex;
    align-items: center;
}