*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  display:flex;
  justify-content:center;
  background-color: #e5e5f7;
    opacity: 0.8;
    height: 100vh;
    background-image: radial-gradient(white 0.5px, rgba(238, 130, 238, 0.277) 0.5px);
    background-size: 10px 10px;
}